@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
  --clr-primary--100: hsl(189, 41%, 97%);
  --clr-primary--300: hsl(185, 41%, 84%);
  --clr-primary--500: hsl(184, 14%, 56%);
  --clr-primary--700: hsl(172, 67%, 45%);
  --clr-primary--900: hsl(183, 100%, 15%);
  --clr-neutral--100: hsl(0, 0%, 100%);
  --ff-primary: 'Space Mono', monospace;
  --br: 1em;
}

/*------ Global Settings------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

/* Body styling */
body {
  background-color: var(--clr-primary--300);
  color: var(--clr-primary--500);
  font-family: var(--ff-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

/* Calculator */
.container {
  background-color: var(--clr-neutral--100);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.7rem;
  padding: 1.7rem;
  border-radius: var(--br);
}

/* User Input */
.user__input {
  grid-column: 1/2;
  background-color: pink;
  border-radius: var(--br);
  padding: 2rem;

}




input {
  font-size: 2rem;
  padding: 0.22rem;
  width: 100%;
  border-radius: 0.2em;
  text-align: center;
  /* border: 2px solid var(--clr-neutral-900); */
}

.tip__btns {
  display: grid;
  grid-template-columns: repeat(3, minmax(2rem, 1fr));
  gap: 1rem;
}

.btn {
  background-color: var(--clr-primary--900);
  width: 7.5rem;
  padding: 0.22rem;
  color: var(--clr-neutral--100);
  font-weight: 600;
  font-size: 1.7rem;
  font-family: var(--ff-primary);
  border-radius: 0.2em;
  border: none
}

input:placeholder-shown {
  background: var(--clr-primary--100);
  padding: 0.22rem;
  font-weight: 700;
  font-size: 2rem;
  border-radius: 0.2em;
  border: none;
  text-align: right;
}

.bill__container {
  position: relative;
}

/* input::placeholder {
  color: var(--clr-primary--900);
  font-weight: 700;
  font-size: 2rem;
}

input:not(:placeholder-shown) {
  color: var(--clr-neutral-900);
  font-weight: bold;
  letter-spacing: 0.1rem;
}

input:focus {
  outline: none;
} */




/* User Output */
.user__output {
  grid-column: 2/3;
  background-color: var(--clr-primary--900);
  border-radius: var(--br);
  padding: 2rem;
}