@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
  --clr-primary--100: hsl(189, 41%, 97%);
  --clr-primary--300: hsl(185, 41%, 84%);
  --clr-primary--500: hsl(184, 14%, 56%);
  --clr-primary--700: hsl(172, 67%, 45%);
  --clr-primary--900: hsl(183, 100%, 15%);
  --clr-neutral--100: hsl(0, 0%, 100%);
  --ff-primary: 'Space Mono', monospace;
  --br: 1em;
}