@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
  --clr-primary--100: hsl(189, 41%, 97%);
  --clr-primary--300: hsl(185, 41%, 84%);
  --clr-primary--500: hsl(184, 14%, 56%);
  --clr-primary--700: #26c0ab;
  --clr-primary--900: hsl(183, 100%, 15%);
  --clr-neutral--100: hsl(0, 0%, 100%);
  --clr-neutral--300: hsl(182, 17%, 67%);
  --clr-accent--100: #dc8f78;
  --ff-primary: 'Space Mono', monospace;
  --br: 1em;
}

/*------ Global Settings------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

/* Body styling */
body {
  background-color: var(--clr-primary--300);
  color: var(--clr-primary--500);
  font-family: var(--ff-primary);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  position: relative;
}

/* Calculator */
.container {
  background-color: var(--clr-neutral--100);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.7rem;
  padding: 1.5rem;
  border-radius: var(--br);
  box-shadow: 1px 2px 32px 6px rgba(0, 0, 0, 0.30);
  -webkit-box-shadow: 1px 2px 32px 6px rgba(0, 0, 0, 0.30);
  -moz-box-shadow: 1px 2px 32px 6px rgba(0, 0, 0, 0.30);
}

/* User Input */
.user__input {
  grid-column: 1/2;
  border-radius: var(--br);
  padding: 1rem;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  gap: 1.7rem;
}

/* Styling the bill info section*/
.bill__info {
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title {
  font-weight: 600;
  padding-bottom: 1rem;
}

.bill__container {
  position: relative;
}

.bill__icon {
  content: url("../images/icon-dollar.svg");
  position: absolute;
  top: 50%;
  left: 4%;
  transform: translateY(-50%);
}

input {
  font-size: 1.6rem;
  padding-right: 3%;
  width: 100%;
  border-radius: 0.2em;
  text-align: right;
  border: 3px solid var(--clr-primary--100);
  font-family: var(--ff-primary);
  background: var(--clr-primary--100);
  font-weight: 300;
}

input:hover {
  border: 3px solid #a0e7df;
}

input::placeholder {
  color: var(--clr-neutral--300);
  font-weight: 700;
}

input:placeholder-shown {
  color: var(--clr-primary--900);
  font-weight: 700;
}

input:not(:placeholder-shown) {
  color: hsl(183, 100%, 15%);
  font-weight: 700;
}

input:focus {
  outline: none;
}

/* Styling the tip info section*/
.tip__info {
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.tip__btns {
  display: grid;
  grid-template-columns: repeat(3, minmax(2rem, 1fr));
  gap: 1rem;
}

.btn {
  background-color: var(--clr-primary--900);
  width: 7.5rem;
  padding: 0.22rem;
  color: var(--clr-neutral--100);
  font-weight: 600;
  font-size: 1.7rem;
  font-family: var(--ff-primary);
  border-radius: 0.2em;
  border: none
}

.btn:hover {
  background-color: #a0e7df;
  color: var(--clr-primary--900);
}

.btn:focus {
  background-color: var(--clr-primary--700);
  color: var(--clr-primary--900);
}

.tip__btns input:placeholder-shown {
  text-align: center;
}

.btn--input {
  background: var(--clr-primary--100);
  color: var(--clr-neutral--300);
  font-weight: 300;
  font-size: 1.6rem;
  text-align: center;
}

.btn--input:hover {
  background: var(--clr-neutral--100);
  border: none;
  outline: 3px solid #a0e7df;
  text-align: right;
  padding-right: 6%;
}

/* Styling the number of people section*/
.people_number__container {
  position: relative;
}

.people_number__icon {
  content: url("../images/icon-person.svg");
  position: absolute;
  top: 50%;
  left: 4%;
  transform: translateY(-50%);
}

.people_number__info {
  grid-row: 3/4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}


/* Warning message */
.alert__info--hidden {
  display: none;
}

.alert__info {
  position: absolute;
  right: 0;
  top: 0;
  font-weight: 800;
  color: var(--clr-accent--100);
}

/* User Output */
.user__output {
  grid-column: 2/3;
  background-color: var(--clr-primary--900);
  border-radius: var(--br);
  padding: 2.2rem;
  display: grid;
  grid-template-rows: 1fr 1fr 2fr;
  font-weight: 700;
}

.tip_result--person {
  grid-row: 1/2;
}

.tip_result--total {
  grid-row: 2/3;
}

/* Styling the displaying result*/
.tip_result {
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
}

.result--main {
  color: var(--clr-neutral--100);
  text-transform: capitalize;
}

.sum__result {
  color: var(--clr-primary--700);
  font-size: 3rem;
}

/* Styling reset btn */

.btn--reset {
  grid-row: 3/4;
  justify-self: center;
  align-self: end;
  background-color: #0d686d;
  width: 100%;
  color: var(--clr-primary--900);
  text-transform: uppercase;
}

/* Styling Credits section */

.attribution {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.attribution>div {
  letter-spacing: 0.02rem;
}

.attribution>div a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 997px) {
  body {

    height: unset;
    margin: 1rem;
  }

  .logo {
    margin: 2rem auto;
  }

  .container {
    display: unset;
  }

}